@import '../../../styles.scss';

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 4.4rem;
}

.header .btn-group {
  display: flex;
  gap: 4rem;
}

.header .btn-group button {
  padding: .4rem 1.6rem ;
  border-radius: .4rem;
}

.content-item-cardapio{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  row-gap: 8rem;
}

.category {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.category button.card-cat{
  background-color: $orange;
  color: $white;
  padding: .8rem 2.2rem;
  border-radius: 1.2rem;
  font-size: 1.6rem;
  font-weight: bold;
  transition: .3s;
}

.category button.card-cat:hover{
  opacity: .8;
}


