<div class="header">
  <app-title [title]="title"></app-title>

  <div class="btn-group">
    <a routerLink="itens-do-cardapio" mat-flat-button color="warn">
      Itens do cardápio
    </a>
  
    <button mat-flat-button color="warn">
      Alterar cardápio
    </button>
  </div>

</div>

<div class="container">

  <div class="category">
    <button *ngFor="let prato of pratos"  class="card-cat">
      {{prato.category}}  
    </button>
  </div>

  <div class="content-item-cardapio">
    <app-card-item-cardapio 
      *ngFor="let prato of pratos" 
    >
    </app-card-item-cardapio>
  </div>
  
</div>
