
<div class="login">
  <div class="login-info">
    <div class="hero-img">
      <img src="../../../assets/hero-img.svg" alt="Robô garçom">
    </div>
    <div class="text">
      <h2>Gestaurante</h2>
      <p>Sua experiência com gestão de restaurante como você nunca viu!</p>
    </div>
  </div>
  <div class="login-card">
    <div class="logo">
      <img src="../../../assets/logo.png" alt="">
    </div>
    <h2>Entrar</h2>

    <form action="">
      <input type="text" class="form-control" id="userName"  placeholder="Usuário">
      <input type="password" class="form-control" id="pass"  placeholder="Senha">
      <button mat-flat-button color="warn">Entrar</button>
    </form>
  </div>
</div>