<div class="pedidos">
  <div class="card-pedido">
    <details>
      <summary list-style="details">
        <div class="header-sum">
          <h2>Pendente</h2>
          <div class="qtd-pedidos">
            <h2>{{pedidosPendente.length}}</h2>
          </div>
        </div>
      </summary>
      <app-card-pedido *ngFor="let pedido of pedidosPendente" 
        [id]="pedido.id"
        [numeroMesa]="pedido.numeroMesa"
        [itensPedido]="pedido.itensPedido"
        [observacao]="pedido.observacao"
        [tempoDecorrido]="pedido.tempoDecorrido"   
      >
      </app-card-pedido>
    </details>
  </div>

  <div class="card-pedido">
    <details>
      <summary>
        <div class="header-sum">
          <h2>Em preparo</h2>
          <div class="qtd-pedidos">
            <h2>{{pedidosEmPreparo.length}}</h2>
          </div>
        </div>
      </summary>
      <app-card-pedido *ngFor="let pedido of pedidosEmPreparo" 
      [id]="pedido.id"
      [numeroMesa]="pedido.numeroMesa"
      [itensPedido]="pedido.itensPedido"
      [observacao]="pedido.observacao"
      [tempoDecorrido]="pedido.tempoDecorrido"
    >
    </app-card-pedido>
    </details>
  </div>

  <div class="card-pedido">
    <details>
      <summary>
        <div class="header-sum">
          <h2>Conluído</h2>
          <div class="qtd-pedidos">
            <h2>{{pedidosConcluido.length}}</h2>
          </div>
        </div>
      </summary>
      <app-card-pedido *ngFor="let pedido of pedidosConcluido" 
      [id]="pedido.id"
      [numeroMesa]="pedido.numeroMesa"
      [itensPedido]="pedido.itensPedido"
      [observacao]="pedido.observacao"
      [tempoDecorrido]="pedido.tempoDecorrido"
    >
    </app-card-pedido>
    </details>
  </div>

  <h2></h2>
