@import '../../../styles.scss';

.modal-cadastrar-mesa{
  padding: 2.4rem 12.2rem;  
}

h1{
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2.2rem;
}

.container {  
  font-size: 1.6rem;
}

.input-group{  
  display: grid;
  grid-template-columns: 1fr;
  gap: .5rem;
  margin-bottom: 2rem;
}

.input-group label{
  
}

.input-group input{
  padding: 1rem ;
  border: 1px solid #D2D2D2;
  border-radius: .9rem !important;
}

.btn-group{
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;  
}

.btn-group button{
  border-radius: .9rem;
  padding: 1.3rem 2.2rem;
  background-color: $red;
  color: $white;
}

.btn-group button:nth-child(2){
  background-color: $yellow;
}