<div class="header">
  <app-title *ngIf="!isEdit && !isCreate" title="Usuários"></app-title>
  <app-title *ngIf="isCreate" title="Cadastrar usuário"></app-title>
  <app-title *ngIf="isEdit" title="Editar usuário"></app-title>

  <button (click)="isCreate = true" *ngIf="!isEdit && !isCreate" mat-flat-button color="warn">
    Cadastrar funcionário
  </button>

  <button (click)="isCreate = false" *ngIf="isEdit || isCreate" mat-stroked-button color="warn">
    Voltar
  </button>
</div>

<!-- Consultar Funcionarios -->
<div *ngIf="!isCreate && !isEdit" class="consultar-funcionarios">
  <app-table></app-table>

  <table class="table-user">
    <tr>
      <th>ID</th>
      <th>Usuário</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Status</th>
      <th>Grupo</th>
    </tr>

    <tr *ngFor="let user of users" >
      <td>{{user.id}}</td>
      <td>{{user.nome}}</td>
      <td>{{user.email}}</td>
      <td>{{user.grupo}}</td>
      <td>Ativo</td>
      <td>Gerente</td>
    </tr>
  </table>

</div>

<div *ngIf="isCreate" class="create-funcionarios">
  <form action="">

    <div class="inputs">
      <div class="input-group">
        <label for="numeroMesa">Nome:</label>
        <input type="text" required />
      </div>
      
      <p>
        Grupo:
        <select name="" id="" class="garcom">
          <option value="garcom">Garçom</option>
          <option value="gerente">Gerente</option>
          <option value="cozinha">Cozinha</option>
        </select>
      </p>
  
      <div class="input-group">
        <label for="senha">Senha:</label>
        <input type="password" placeholder="******" required />
      </div>
  
      <div class="input-group">
        <label for="email">Email:</label>
        <input type="email" placeholder="Ex: email@email" required />
      </div>
    </div>

  <button mat-flat-button color="warn">Criar funcionário</button>
  </form>
  
</div>