.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button {
  margin-right: 4rem;
}

.consultar-funcionarios {
  width: 100%;
}

.filter-input {
  margin-left: 2rem;
}

mat-label {
  color: #060408;
}

mat-form-field.mat-focused {
  border-color: #060408;
}

.table-card {
  width: 95%;
  margin: 1.3rem 7.2rem 0 2rem;
  border-radius: 21px;
  background-color: #fff;
}

.mat-form-field input {
  padding-bottom: 1rem;
}

table {
  width: 100%;
  border-bottom-left-radius: 21px;
}

table .mat-header-row {
  background-color: #ffd152;
  border-top-left-radius: 21px;
}

table th {
  font-size: 1.6rem;
  color: #060408;
  font-family: "Poppins", sans-serif;
}
table td {
  font-size: 1.4rem;
  color: #060408;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: 0.3s;
}

table td:hover {
  opacity: 0.5;
}

table .mat-row:nth-child(2n) {
  background-color: #e9e1d6;
}

.create-funcionarios form .inputs {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3rem;
  padding: 5rem;
}

.create-funcionarios form button {
  margin-left: 19%;
}

.create-funcionarios p {
  margin: 0;
}

.create-funcionarios .input-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.create-funcionarios .input-group label {
  font-size: 1.6rem;
}

.create-funcionarios .input-group input {
  padding: 1rem;
  border: 1px solid #d2d2d2;
  border-radius: 0.9rem !important;
}
