

<div class="card-pedido"  >

  <div class="info-pedido">
    <h2>Pedido: {{id}}</h2>
    <p>Mesa: <span>{{numeroMesa}}</span> </p> 

    <div *ngFor="let itemPedido of itensPedido" >
      <p>Ítem: <span>{{itemPedido.itensCardapio.nome}}</span></p>
      <p>Quantidade: <span>{{itemPedido.qtd}}</span></p>
    </div>
    
    <p>Observacao: <span>{{observacao}}</span></p>
    <p>Tempo: <span>{{tempoDecorrido}} min</span></p>
  </div>

  <div class="btn-action">
    <mat-icon>delete_forever</mat-icon>
    <mat-icon (click)="atualizaStatusPedido()">forward</mat-icon>
  </div>
</div>
