@import '../../../styles.scss';

.card-item-cardapio{
  width: 27rem;
  height: 28rem;
  cursor: pointer;
  transition: .3s;
}

.card-item-cardapio:hover{
  transform: translateY(-10px);
}

.card-img-item-cardapio{
  width: 100%;
  display: flex;
  justify-content: center;
  filter: drop-shadow(2px 4px 12px rgba(0, 0, 0, 0.3));
  position: relative;
  top: 25%;
}

.img-item-cardapio {
  width: 16rem;
  height: 16rem;
  clip-path: circle();
  background-color: #000;
}

.card-item-cardapio .img-item-cardapio img{
  width: 100%;
}

.card-item-cardapio .card-item-cardapio-body{
  background-color: white;
  padding: 10rem 1.5rem 1.5rem 1.5rem;
  border-radius: 2.1rem;
}